<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>
        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost/kursovoi
        </property>
        <property name="hibernate.connection.username">
            root
        </property>
        <property name="hibernate.connection.password">
            24miloli
        </property>
        <!-- List of XML mapping files -->
        <mapping class = "com.example.kursovoi2.client.hibernate.dao.functional.AccountDao"/>
        <mapping class = "com.example.kursovoi2.client.hibernate.dao.functional.ClientDao"/>
        <mapping class = "com.example.kursovoi2.client.hibernate.dao.functional.WorkerDao"/>
        <mapping class = "com.example.kursovoi2.client.hibernate.dao.functional.RecordDao"/>
        <mapping class = "com.example.kursovoi2.client.hibernate.dao.functional.AdminDao"/>
        <!-- <listener type="post-commit-insert" class="com.example.hibernate.events.listener.PostEventListener" /> -->
    </session-factory>
</hibernate-configuration>
